<%- include('../partials/_header') %>
    <title>moneymoo</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Log In</h1>
    <% if (loginError) { %>
    <p>Login failed. Please try again.</p>
    <% } %>
    <form action="/auth/sign-in" method="POST" id="sign-in-form">
    <div>
        <label for="username">Username or Email</label>
        <input type="text" id="username" name="username" required class="input is-normal" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required class="input is-normal" />
    </div>
    <button type="submit" class="button is-light is-link">Log In</button>
 </form>
</body>
</html>