<%- include('../partials/_header') %>
    <title>Watchlist</title>
</head>
<body>
    <a href="/watchlist">Back to Watchlists</a>
    <h1>Create Watchlist</h1>
    <form action="/watchlist" method="POST">
        <label for="name">Watchlist Name</label>
        <input type="text" id="name" name="name" placeholder="Enter watchlist name" required class="input is-normal"/>
        <button type="submit" class="button is-light is-primary">Create Watchlist</button>
    </form>
</body>
</html>