<%- include('partials/_header') %>
    <title>moneymoo</title>
</head>
<body>
  <% if (user) { %>
    <%- include('partials/_navbar') %>
    <h1 class="is-size-2 m-5">Welcome back, <%= user.username %></h1>
  <% } else { %>
    <div class="is-flex is-flex-direction-column is-justify-content-center is-max-tablet">
      <h1 class="is-size-2 has-text-centered mt-6">Welcome to moneymoo</h1>
      <p class="is-size-5 has-text-centered mt-2">let's start milking your gains</p>
      <div class="mt-4 is-flex is-flex-direction-row is-justify-content-center is-gap-2">
        <a href="/auth/sign-up" class="button is-link">Sign Up</a>
        <a href="/auth/sign-in" class="button is-link">Log In</a>
      </div>
    </div>
  <% } %>
</body>
</html>