<%- include('../partials/_header') %>
<title>Search</title>
</head>
<body class="has-navbar-fixed-top">
    <%- include('../partials/_navbar') %>
    <div class="ml-6 mr-6">
        <h1 class="is-size-3 mb-4 has-text-centered">Stock Search</h1>
        <div class="container" style="max-width: 400px;">
            <form action="/search" method="POST" class="box">
                <div class="field">
                    <label for="symbol" class="label">Symbol</label>
                    <input type="text" name="symbol" id="symbol" class="input is-normal" required placeholder="GOOG"/>
                </div>
                <button type="submit" class="button is-link mt-2">Find Stock</button>
            </form>
        </div>
    </div>
</body>
</html>