<%- include('../partials/_header') %>
    <title>Portfolio</title>
</head>
<body>
    <%- include('../partials/_navbar') %>
    <h1 class="is-size-3">Create Portfolio</h1>
    <form action="/portfolio" method="POST" class="box">
        <div class="field">
            <label for="name" class="label">Portfolio Name</label>
            <input type="text" id="name" name="name" placeholder="Enter portfolio name" required class="input is-normal"/>
        </div>
        <button type="submit" class="button is-link">Create Portfolio</button>
    </form>
</body>
</html>